.nav-bar{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.nav-bar>a{
    margin-right: 15px;
    text-decoration: none;
}
.nav-bar>a{
    text-decoration: none;
    color: black;
    font-family:  monospace;
    font-size: 22px;
    font-weight: 400;
}
.nav-bar>a:hover{
    color: tomato;
    text-decoration: underline;
}

.main-div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.name-main{
    font-family:  'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 400;
}